@{ Layout = "~/Views/Shared/Admin_Layout.cshtml"; }

<!-- Page content-->
<div class="page-content deals--page">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-2 title-left">
                <h1 class="page-title f-bold"><i class="ubi-iconwallet title-icon"></i>Wallet</h1>
            </div>
            <div class="col-lg-10 title-right">
                <div class="nav-search"> <i class="ubi-iconsearch"></i> <input type="text" class="form-control" placeholder="Search here..."> <button class="btn btn-primary">Search</button> </div>
                <div class="filter-btn">
                    <button><i class="ubi-iconvector"></i>Filter</button>
                </div>
                <div class="createuser-btn">
                    <button>Create User Credentials</button>
                </div>
            </div>
        </div>
    </div>
    <div class="deal-page-content">
        <div class="deals-table-sec">
            <div class="table-responsive">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Deal ID</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-rcvd"><span>Received</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>

                        <tr>
                            <td>#0000890</td>
                            <td>#0000890</td>
                            <td>$534,263</td>
                            <td><div class="status-pending"><span>Pending</span></div> </td>
                            <td>28/08/2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.slim.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>

    $('#example').DataTable();

    $(document).ready(function () {

    });

</script>