
.sidebar-iconall-users-icon:before { content: '\e802'; } /* '' */
.sidebar-iconwallet-icon:before { content: '\e803'; } /* '' */
.sidebar-icondeals-icon:before { content: '\e804'; } /* '' */
.sidebar-icondashboard-icon:before { content: '\e805'; } /* '' */
.sidebar-iconsort-alt-up:before { content: '\f160'; } /* '' */
.sidebar-iconuser-plus:before { content: '\f234'; } /* '' */
