
.ubi-iconall-users:before { content: '\e800'; } /* '' */
.ubi-iconwallet:before { content: '\e801'; } /* '' */
.ubi-icondeals:before { content: '\e802'; } /* '' */
.ubi-icondashboard:before { content: '\e803'; } /* '' */
.ubi-iconnotify:before { content: '\e804'; } /* '' */
.ubi-iconstats-up:before { content: '\e805'; } /* '' */
.ubi-iconbuilding-1:before { content: '\e806'; } /* '' */
.ubi-iconalign-left:before { content: '\e807'; } /* '' */
.ubi-iconsearch:before { content: '\e808'; } /* '' */
.ubi-iconvector:before { content: '\e809'; } /* '' */
.ubi-iconvector-1:before { content: '\e80a'; } /* '' */
.ubi-icondown:before { content: '\e80b'; } /* '' */
.ubi-iconinfo:before { content: '\e80c'; } /* '' */
