@{ Layout = "~/Views/Shared/Admin_Layout.cshtml"; }

<!-- Page content-->
<div class="page-content deals--page">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-2 title-left">
                <h1 class="page-title f-bold"><i class="ubi-icondeals title-icon"></i>Deals</h1>
            </div>
            <div class="col-lg-10 title-right">
                <div class="nav-search"> <i class="ubi-iconsearch"></i> <input type="text" class="form-control" placeholder="Search here..."> <button class="btn btn-primary">Search</button> </div>
                <div class="filter-btn">
                    <button><i class="ubi-iconvector"></i>Filter</button>
                </div>
                <div class="createuser-btn">
                    <button>Create User Credentials</button>
                </div>
            </div>
        </div>
    </div>
    <div class="deal-page-content">
        <div class="deals-table-sec">
            <div class="table-responsive">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Deal ID</th>
                            <th>Agent Name</th>
                            <th>Agent</th>
                            <th>Price</th>
                            <th>Submission   </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-completed">
                                    <span>Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-rejected">
                                    <span>Rejected</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-inprogress">
                                    <span>In Progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-completed">
                                    <span>Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-rejected">
                                    <span>Rejected</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-inprogress">
                                    <span>In Progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-completed">
                                    <span>Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-rejected">
                                    <span>Rejected</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-inprogress">
                                    <span>In Progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-completed">
                                    <span>Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-rejected">
                                    <span>Rejected</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-inprogress">
                                    <span>In Progress</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-completed">
                                    <span>Completed</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-rejected">
                                    <span>Rejected</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-deal-img"><img src="~/assets/images/tbleimg.png" width="30" height="30"></div>
                            </td>
                            <td>#0000890</td>
                            <td>William Blake</td>
                            <td>#0000890</td>
                            <td>USDT6980 </td>
                            <td>2011/01/25</td>
                            <td>
                                <div class="status-inprogress">
                                    <span>In Progress</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.5.1.slim.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>

    $('#example').DataTable();

    $(document).ready(function () {

    });

</script>