  <!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom "><img src="~/assets/images/logo-white.png" class="img-fluid"></div>
    <div class="list-group list-group-flush">
        <ul>
            <li><a class="list-group-item list-group-item-action list-group-item-light" asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="ubi-icondashboard menu-icon"></i>Dashboard</a></li>
            <li><a class="list-group-item list-group-item-action list-group-item-light" asp-area="Admin" asp-controller="Deals" asp-action="Index"><i class="ubi-icondeals menu-icon"></i>Deals</a></li>
            <li>                    <a class="list-group-item list-group-item-action list-group-item-light " asp-area="Admin" asp-controller="Wallet" asp-action="Index"><i class="ubi-iconwallet menu-icon"></i>Wallet</a></li>
            <li>                    <a class="list-group-item list-group-item-action list-group-item-light " asp-area="Admin" asp-controller="AllUsers" asp-action="Index"><i class="ubi-iconall-users menu-icon"></i>All Users</a></li>
        </ul>
    </div>
</div>